<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav class="header-bar">

            <div class="box-header">
                <div class="logo">
                    <img src="images/logo-mercado-liebre.svg">
                </div>

                <div class="buscar">
                    <input class="buscar-input" type="text" placeholder="  Buscar..." required>
                    <button class="lupa">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <div class="compracuotas">
                    <div class="compra"><i class="fas fa-hand-holding-usd"></i>
                        <h5>Compra en cuotas y sin tarjeta de credito</h5>
                    </div>
                </div>
            </div>
            <div class="lista1">
                <ul class="info" type="none">
                    <li> <a href=""> Ofertas </a> </li>
                    <li> <a href=""> Tiendas Oficiales </a></li>
                    <li> <a href=""> Vender </a></li>
                    <li> <a href=""> Ayuda </a></li>
                </ul>

                <div class="lista2">
                    <ul class="cuenta" type="none">
                        <li> <a href="/register">Crear tu cuenta<i class="fas fa-address-card"></i></a> </li>
                        <li> <a href="">Ingresar<i class="fas fa-sign-in-alt"></i></a></li>
                        <li> <a href="">Mis Compras<i class="fas fa-shopping-basket"></i></a></i></li>
                    </ul>
                </div>
            </div>

            <div class="burger-menu">
                <button id="menu">
                    <i class="fas fa-bars"></i>
                </button>

            </div>
            <banner class="banner">
                <img src="images/img-home-banner.jpg">
            </banner>

        </nav>
    </header>


    <main class="mainlogin">
        <form class="formulariologin" action="" method="POST">
            <div class="contenedor-login">
                <div class="usuario-login">
                    <label for="user"><h3 style="color:#1259c3 ;">Usuario</h3> </label>
                    <input type="text" name="user" id="user">
                </div>
                <div class="usuario-login">
                    <label for="pass"><h3 style="color:#1259c3 ;">Contraseña</h3></label>
                    <input type="password" name="pass" id="pass">
                </div>
                <button type="submit" class="submit-login">Enviar</button>
                <a href="/register" class="register-login">Register</a>
            </div>

        </form>
    </main>

    <footer>
        <section>
            <i class="fas fa-credit-card fa-2x" id="chacho" style="color: #1259c3;"></i>
            <h3 class="centrado">Pagá con tarjeta o en efectivo</h3>
            <br>
            <p class="texto"> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <br>
        <section>
            <i class="fas fa-gift fa-2x" id="chacho" style="color: #1259c3;"></i>
            <h3 class="centrado">Envío gratis desde $ 2.500</h3>
            <br>
            <p class="texto">
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <br>
        <section>

            <i class="fas fa-user-shield fa-2x" id="chacho" style="color: #1259c3;"></i>
            <h3 class="centrado">Seguridad, de principio a fin</h3>
            <br>
            <p class="texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <br><br>
        <section>

            <h3 class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>




    </footer>
</body>

</html>